.basic-info {
  display: none;
}

.tile {
  display: grid;
  grid-template-columns: 1fr;
  // display: flex;
  // justify-content: space-around;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: left;
  padding: 1rem;
  // border: 1px solid red;
}

.tile:hover {
  cursor: pointer;
  background-color: azure;
  border-radius: 1rem;
 }

.tile-back {
  display: none;
}

.job-department {
  font-style: italic;
}

.info {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.5rem rgb(98, 96, 96);
  margin-bottom: 2rem;

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.job-further-info {
  position: relative;
  // top: 25%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.unhidden {
  display: block;
  // width: 80%;
}

.exit-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.education, .experience {
  margin-bottom: 1rem;
}